.components
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;

    .scrollable-component, .component
    {
        .target
        {
            visibility: none;
            display: block;
            height: $nav-main_height;
            margin-top: calc(0px - ($nav-main_height + 10px))
        }
    }

    .component
    {
        width: $app_width;
        margin: ($margin * 4) $margin;

        display: flex;

        .image
        {
            width: 500px;
            height: 500px;
            overflow: hidden;
            object-fit: cover;
        }

        .text
        {
            .comp_title
            {
                margin: $margin calc($margin * 2);
                text-decoration: underline;
                font-size: 25px;
            }
            
            .comp_text
            {
                margin: 0 $margin;
                font-size: 18px;
            }
        }

        .cards
        {
            display: flex;
        }
        
    }
}