.footer
{

    height: $footer_height;

    background-color: $secondary;

    .container
    {

        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .buttons {
            margin: $margin;

            .icon
            {
                height: 32px;
                width: 32px;
                object-fit: contain;
            }

            *
            {
                margin: $margin;
            }
        }
    }

}