@media (min-width: 640px) {
    .home {
    
        .container
        {
            height: calc(100vh - $nav-main_height);
            padding-top: $nav-main_height;
        }

        ._color_shape
        {
            height: 100%;
            background-image: url('/imgs/bg.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .texts
        {
            height: 100%;
            width: 100%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .content
            {

                margin-top: 200px;

                width: 550px;
                height: 250px;

                // background-color: rgba($color: #000000, $alpha: .3);

                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                color: $background;

                border-radius: 15px;

                .__title
                {
                    font-size: 64px;
                    text-decoration: underline;
                    margin-bottom: $margin;
                    text-align: center;
                    
                }
    
            }

       }

        .arrow
        {
            margin: $margin;
            font-size: 20px;
            cursor: pointer;
            
            position: fixed;
            top: calc(100dvh - 90px);

            .arrow-icon
            {
                animation: 2s linear 1s infinite running arrow;
                height: 48px;
                width: 48px;
            }
        }

    }
}

@media (max-width: 640px) {
    .home {
    
        .container
        {
            height: calc(100vh - $nav-main_height);
            padding-top: $nav-main_height;
        }

        ._color_shape
        {
            height: 100%;
            background-image: url('/imgs/bg.jpg');
            background-repeat: no-repeat;
            background-size: cover;

            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .texts
        {
            height: 100%;
            width: 100%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;

            
            .__title
            {
                font-size: 32px;
                text-decoration: underline;
                margin: $margin 0;
            }

            .__subtitle
            {
                font-size: 18px;
            }
        }

        .arrow
        {
            margin: $margin;
            font-size: 20px;
            cursor: pointer;
            
            position: fixed;
            top: calc(100dvh - 90px);

            .arrow-icon
            {
                animation: 2s linear 1s infinite running arrow;
                height: 48px;
                width: 48px;
            }
        }

    }
}

@keyframes arrow {
    0%{
        height: 48px;
        width: 48px;
    }
    25%{
        height: 60px;
        width: 60px;
    }
    50%{
        height: 48px;
        width: 48px;
    }
    100%{
        height: 48px;
        width: 48px;
    }
}