// $text: #06070e;
// $background: #f8f8fc;
// $primary: #293365;
// $secondary: #c9cee9;
// $accent: #4353a3;

// $text: #14180c;
// $background: #f4f7ee;
// $primary: #684ea2;
// $secondary: #e4ebd6;
// $accent: #6b50a5;

$text: #0d0a1a;
$background: hsl(0, 0%, 96%);
$primary: #aba0d9;
$secondary: #d8d3ee;
$accent: #5946af;
